<p style="color: green"><%= notice %></p>

<%= render @cliente_cagece %>

<div>
  <%= link_to "Edit this cliente cagece", edit_cliente_cagece_path(@cliente_cagece) %> |
  <%= link_to "Back to cliente cageces", cliente_cageces_path %>

  <%= button_to "Destroy this cliente cagece", @cliente_cagece, method: :delete %>
</div>
