<%= form_with(model: carro) do |form| %>
  <% if carro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carro.errors.count, "error") %> prohibited this carro from being saved:</h2>

      <ul>
        <% carro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :placa, style: "display: block" %>
    <%= form.text_field :placa %>
  </div>

  <div>
    <%= form.label :renavan, style: "display: block" %>
    <%= form.text_field :renavan %>
  </div>

  <div>
    <%= form.label :chassi, style: "display: block" %>
    <%= form.text_field :chassi %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
