<div id="<%= dom_id cliente_enel %>">
  <p>
    <strong>Nome:</strong>
    <%= cliente_enel.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= cliente_enel.cpf %>
  </p>

  <p>
    <strong>Numero do cliente:</strong>
    <%= cliente_enel.numero_do_cliente %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= cliente_enel.endereco %>
  </p>

</div>
